
.card {
  display: flex;
  height: 9rem;
  color: var(--material-theme-sys-light-on-primary-container, #001A41);
  margin-top: 1rem;


}
.over{
  background-color: #141B2C!important;
  color: white !important;
}
.over:hover{
  background-color:#005AC1!important;
  color: #DBE2F9!important;
}
.no-display{
  display: none!important;

}
  #card-jum{
    margin-left: 4rem;
  }
  .card-side{
    padding-top: 2rem;
    padding-right: 1rem;
  
  }
  .small-card{
    border-radius: 0.9375rem;

    padding: 1.25rem 0.75rem;
flex-direction: column;
justify-content: center;
align-items: center;
    background-color:#005AC1;
    color: #DBE2F9;
font-size: 24px;
font-family: Comfortaa;
font-weight: 400;
line-height: 28.80px;
word-wrap: break-word
  }
  .card-body {
    flex: 1; 
    padding: .5rem;
  }
  

.card{
 background-color: var(--material-theme-sys-light-secondary-fixed, #DBE2F9);

    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.14));
    outline: none;
    border: none;

border-radius: 10px;
}
.card:hover , .card:hover .card-title{
  color: #ffffff ;
  border-bottom: none!important;
}
.card:hover {
    background-color: #141B2C;
 
  }
.card-side h5{
    padding: .5rem 0;
    color: var(--material-theme-sys-light-on-primary, #FFF);
text-align: center;

font-family: Comfortaa;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
}
.card-title{

padding-left: 1rem;
padding-top: 1rem;

font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; 
}
.card-text{
    padding-left: 1rem;





font-family: Roboto;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; 
}
@media(max-width:1024px) {
    .card{
      padding-bottom: 12rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
      width: 17rem;
     
    }
    .card-title{
        font-size: 1rem;
        line-height: 1.25rem; 
    }
    .card-text{
        font-size: .9rem;

    }
}


@media(max-width:480px) {
  #card-jum{
    margin-left: 1rem;
  }
  .row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
   .col-md-2.col-sm-6 {
    order: 1;
    flex: 0 0 auto;
    width: 30%;
    max-width: 30%;
  }

  .col-md-10.col-sm-6 {
    order: 2;
    flex: 0 0 auto;
    width: 70%;
    max-width: 70%;

  }

    .card-body{
        padding: .5rem;
    }
  
    .card{
    
        width: 12rem;
      
        padding-bottom: 2.5rem;
   margin-bottom: 0;
       
        
      
    }
    .card-title{
      font-weight: bold;
        font-size: 15px;
        line-height: 1.7rem; 
       
    }
    .card-text{
        font-size:13px;
      
    }
 .card-side h5{
        font-size: 20px;
    }
    .card-side{
        margin-left: 1rem;
    }
    .card-side{
        padding:0 3.5rem ;
    }
    .small-card{
  padding: 1.2rem 1rem;
    }
    .card-side{
        display: none;
    }
  }



