body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}


#contact .form-control{
    background-color: aliceblue!important;
    color: black!important;
}
#contact .card{
    margin-top: 5rem!important;
    margin-bottom: 5rem;
}
@media(max-width:480px) {

    #contact .card{
        width: 24rem;
  height: 40rem!important;
    }
    .c-2 h1{
        font-size: 3rem;
        line-height: 3.7rem  ;
      }
      .c-2 h5{
        display: none;
      }
}